$primary: #102248;
$danger: #2c64d4;
$gray: #dce2ea;
$input-focus-box-shadow-size: 0;
$input-shadow: 0;
$box-radius: 0px;
body {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 450px;
  width: 700px;
}
.small {
  height: 50px;
}
.pad-top {
  padding: 10px 0 10px;
}
.bg {
  background-color: $gray !important;
}
.top {
  padding-bottom: 15px;
  position: relative;
  padding-top: 10px;
  border-bottom: solid 1px #fff;

  .text {
    position: absolute;
    right: 10px;
    top: 12px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 20px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
  }
}

.titletext {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.inputwindow {
  text-align: center !important;
  position: relative;

  input {
    margin-left: auto;
    margin-right: auto;
  }
  .inputtext {
    border-color: #fff;
    border: 0px solid $danger !important;
    width: 150px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
  }
  .inputbtn {
    width: 60px;
    justify-content: center;
    border: 0 solid #fff !important;
    font-weight: bold;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  input[value] {
    margin: auto;
    height: 40px;
    line-height: 0 !important;
    padding-top: 10px;
    font-size: 30px !important;
  }
}

.content-top {
  text-align: center !important;
  position: relative;
  height: 450px;

  img {
    height: 400px;
  }

  #video {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #fff;
    box-sizing: content-box;
  }
}
.content {
  position: relative;
  height: 550px;
  width: 750px;
  .logo-text {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .padding-black {
    padding: 20px 0 0 50px;
  }
  .blacktitle {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
}
@import "~bulma/bulma.sass";
